{% extends 'base.html' %}
{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>List Of All Clients in XYZ Facility</h3>
                <p class="text-subtitle text-muted">MFL Code: 454156</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Input</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
<div class="table-responsive">
    <table class="table table-light mb-0">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Surname</th>
                <th>Gender</th>
                <th>Age</th>
                <th>County</th>
                <th>Sub County</th>
                <th>Ward</th>
                <th>Facility Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for patient in patients %}
                <td class="text-bold-500">{{patient.first_name}}</td>
                <td class="text-bold-500">{{patient.second_name}}</td>
                <td>{{patient.surname}}</td>
                <td>{{patient.gender}}</td>
                <td class="text-bold-500">{{patient.age}}</td>
                <td class="text-bold-500">{{patient.county}}</td>
                <td>{{patient.sub_county}}</td>
                <td class="text-bold-500">{{patient.ward}}</td>
                <td>Facility Name</td>
                <!-- <td><a href="#"><i class="badge-circle badge-circle-white text-secondary font-medium-1" data-feather="mail"></i></a></td> -->
                <td><a href="#!">Update</a></td>
                <td><a href="#!">View</a></td>
                {% endfor %}
            </tr>
            

        </tbody>
    </table>
</div>

</div>
{% endblock content %}