<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <title>Square Buttons Effects Template | PrepBootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{% static '/assets/home/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/assets/home/font-awesome/font-awesome.min.css' %}" />

    <script type="text/javascript" src="{% static '/assets/home/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/assets/home/bootstrap.min.js' %}"></script>
</head>
<body>

<div class="container">
<!-- Square Buttons Effects - START -->
<div class="container text-center">
    <div class="row">
        <div class="col-lg-12">
            <p>
                <a href="#" class="btn btn-squared-default btn-primary">
                    <i class="fa fa-key fa-5x"></i>
                    <br />
                    primary
                    <br />
                    Button
                </a>
                <a href="#" class="btn btn-squared-default btn-success">
                    <i class="fa fa-money fa-5x"></i>
                    <br />
                    success
                    <br />
                    Button
                </a>
                <a href="#" class="btn btn-squared-default btn-warning">
                    <i class="fa fa-mobile fa-5x"></i>
                    <br />
                    warning
                    <br />
                    Button
                </a>
                <a href="#" class="btn btn-squared-default btn-danger">
                    <i class="fa fa-barcode fa-5x"></i>
                    <br />
                    danger
                    <br />
                    Button
                </a>
                <a href="#" class="btn btn-squared-default btn-info">
                    <i class="fa fa-bell fa-5x"></i>
                    <br />
                    info 
                    <br />
                    Button
                </a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Square buttons - plain</h2>
            <p>
                <a href="#" class="btn btn-squared-default-plain btn-primary">
                    <i class="fa fa-android fa-5x"></i>
                    <br />
                    primary
                    <br />
                    Button
                </a>
                <a href="#" class="btn btn-squared-default-plain btn-success">
                    <i class="fa fa-laptop fa-5x"></i>
                    <br />
                    success
                    <br />
                    Button
                </a>
                <a href="#" class="btn btn-squared-default-plain btn-info">
                    <i class="fa fa-compass fa-5x"></i>
                    <br />
                    info 
                    <br />
                    Button
                </a>
                <a href="#" class="btn btn-squared-default-plain btn-warning">
                    <i class="fa fa-pencil fa-5x"></i>
                    <br />
                    warning
                    <br />
                    Button
                </a>
                <a href="#" class="btn btn-squared-default-plain btn-danger">
                    <i class="fa fa-car fa-5x"></i>
                    <br />
                    danger
                    <br />
                    Button
                </a>
            </p>
        </div>
    </div>
</div>

<style>
    .btn-squared-default
    {
        width: 100px !important;
        height: 100px !important;
        font-size: 10px;
    }

        .btn-squared-default:hover
        {
            border: 3px solid white;
            font-weight: 800;
        }

    .btn-squared-default-plain
    {
        width: 100px !important;
        height: 100px !important;
        font-size: 10px;
    }

        .btn-squared-default-plain:hover
        {
            border: 0px solid white;
        }
</style>

<!-- Square Buttons Effects - END -->

</div>

</body>
</html>