{% extends 'base.html' %}
{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Register New Client</h3>
                <p class="text-subtitle text-muted">MFL Code: 454156</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Input</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Client Details</h4>
            </div>
            {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors }} below.
            </p>
            {% endif %}

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form action="{% url 'add_new_client' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="basicInput">First Name</label>
                                {{ form.first_name }}
                            </div>

                            <div class="form-group">
                                <label for="helpInputTop">Second Name</label>
                                {{ form.second_name }}
                            </div>

                            <div class="form-group">
                                <label for="helperText">Surname</label>
                                {{ form.surname }}
                            </div>
                            <div class="form-group">
                                <label for="disabledInput">Date Of Birth</label>
                                {{ form.dob }}
                            </div>
                            <label for="disabledInput">Gender</label>
                            {{form.gender}}
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="disabledInput">CCC Number</label>
                            {{ form.ccc_number }}
                        </div>
                        <div class="form-group">
                            <label for="disabledInput">Phone Number</label>
                            {{ form.phone_number }}
                        </div>
                        <div class="form-group">
                            <label for="disabledInput">National ID Number</label>
                            {{form.national_id}}
                        </div>
                        <div class="form-group">
                            <label for="disabledInput">County</label>
                            {{form.county}}
                        </div>

                        <div class="form-group">
                            <label for="disabledInput">Sub-County</label>
                            {{form.sub_county}}
                        </div>
                        <div class="form-group">
                            <label for="disabledInput">Ward</label>
                            {{form.ward}}
                        </div>
                        <div class="form-group">
                            <label for="disabledInput">village</label>
                            {{form.village}}
                        </div>
                    </div>
                    <div class="col-md-4"> <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
$("#id_county").change(function () {
    
      var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var countyName = $(this).val();  // get the selected country ID from the HTML input
      console.log('------------>>> '+"{{org_unit}}");




      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'country': countryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
</script>
{% endblock content %}